.footer {
  background-color: $bg-2-color;
  padding: 4rem 1rem 2rem;
  display: flex;
  justify-content: center;
  // &__logo {

  // }

  &-FAQ{
    margin-top: 2rem; 
    margin-bottom: 1.5rem;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 90%;
      background-color: rgb(235, 234, 235);
      margin-top: 1rem; 

    }

    .FAQ {
      &-block h4 {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
          content: url(../assets/icons/chrevron_right.svg);
          padding-right: 0.5rem;
        }
        
      }

      &-list {
        display: none;
        list-style: none;

        &__item {
          margin: 0.6rem 0;
        }
        
        a {
          color: #424542;
          font-size: 14px;
          &:hover {
            color: #1264a3;
          }
        }
      }
    }
  }

  &-legal{

    .legal {
      &-list {
        list-style: none;  

        &__item {
          font-size: 1rem;
          font-weight: 600;
          line-height: 3rem;
          display: flex;
          flex-direction: row;

          svg {
            align-self: center;
            margin-right: 5px;

          }
        }
        &__chevron-icon  {
          margin-left: 5px;
        }
      }

      &-social {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;
      }

      &-download__link {
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem 0;
        display: flex;
        flex-direction: row;

        svg {
          align-self: center;
          margin-right: 5px;
        }
      }
    }

  }

  &-caption {
    width: 100%;
    p {
    font-size: 14px;
    color: #424542;
    line-height: 1.2rem;
    }
  }
  

}