
.header {
  background-color: $primary-color;
}

.nav {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
  
    img {
      height: 35px;
      margin-left: 20px;
      align-self: center;
    }
  }

  &__hamburger {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    %hamburger-line {
      width: 17px;
      height: 2px;
      background-color: white;
      border-radius: 2px;
    }

    & span {
      @extend %hamburger-line;

      &::before {
        content: "";
        display: block;
        position: relative;
        bottom: 4px;
        @extend %hamburger-line;

        }
      
      &::after {
        content: "";
        display: block;
        position: relative;
        top: 4px;
        @extend %hamburger-line;
      }
    }

  }
}

.billboard {
  display: block;

  &-content {
    padding: 0 1rem;
  }

  &__title {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: Calibri;
    line-height: 3rem;

    & span {
      color: $accent-1-color
    }
  }

  &__caption {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 0;
    line-height: 1.5rem;
    text-align: center;
  }

  &-register {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;


    &__btn {
      @extend %btn;

      &:first-child {
        background-color: white;
        color: $primary-color;
      }
        
      //GOOGLE BUTTON
      &:last-child {
        background-color: $accent-2-color;
        color: white;
      }
    }
  }

    .google__icon {
      width: 50px;
      height: 49px;
      margin: 4px;
      background-color: white;
      border-radius: 2px;
      display: flex;

      img {
        height: 70%;
        margin: auto;
      }
    }
  
  
  &__graphic {
    width: 100vw;

    video {
      width: inherit;
    }
  }
}
