* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1264a3;
}

#root {
  width: 100vw;
  font-family: Calibri;
}

h2 {
  font-size: 32px;
}

p, a {
  font-size: 20px;
  line-height: 25px;
}