
// colores
$primary-color: #541554;
// $primary-color: #611f69;

// accents
$accent-1-color: #ecb22e;
$accent-2-color: #4285f4;

//backgrounds
$bg-1-color: #f4ede4;
$bg-2-color: white;

// other colors:
$other-1-color: #2ab9f3;
$other-2-color: #24a67e;

%btn {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;

    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    height: 55px;
    width: 100%;
    margin: 4px 0;
    border-radius: 5px;
}

